<twig:Table headers="{{ [
    'admin.candidate.label.update',
    'admin.candidate.label.name',
    'admin.candidate.label.email',
    'admin.candidate.label.roles',
    'admin.candidate.label.created_at',
] }}">
    {% for user in users %}
        <tr
            class="{% if user_selected|default() and user_selected.id == user.id %}table-active{% endif %}"
        >
            <td>
                <a href="{{ path('app_admin_user_update', {'id': user.id}) }}" class="btn btn-primary">
                    <span class="bi-pencil"></span>
                </a>
            </td>
            <th scope="row">{{ user.name }}</th>
            <td>{{ user.email }}</td>
            <td>{{ user.roles|join(' | ') }}</td>
            <td>{{ user.createdAt ? user.createdAt|date('d.m.y H:i') : '?' }}</td>
        </tr>
    {% endfor %}
</twig:Table>
