<twig:Table headers="{{ [
    'admin.user.label.update',
    'admin.user.label.name',
    'admin.user.label.email',
    'admin.user.label.roles',
    'admin.user.label.created_at',
    'admin.user.label.imitate',
] }}">
    {% for user in users %}
        <tr
            class="{% if user_selected|default() and user_selected.id == user.id %}table-active{% endif %}"
        >
            <td>
                <a href="{{ path('app_admin_user_update', {'id': user.id}) }}" class="btn btn-primary">
                    <span class="bi-pencil"></span>
                </a>
            </td>
            <th scope="row">{{ user.name }}</th>
            <td>{{ user.email }}</td>
            <td>{{ user.roles|join(' | ') }}</td>
            <td>{{ user.createdAt ? user.createdAt|date('d.m.y H:i') : '?' }}</td>
            <td>
                {% if is_granted('ROLE_ALLOWED_TO_SWITCH') and user.id != app.user.id %}
                    <a
                            href="{{ path('app_home', {'_switch_user': user.userIdentifier}) }}"
                            class="btn btn-primary"
                    >
                        <span class="bi-person-bounding-box"></span>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</twig:Table>
