{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} :: {{ 'admin.candidate.create.title'|trans }}{% endblock %}
{% block body %}
    <twig:Box>
        <twig:Row rowClass="mb-4">
            <h1 class="h3"><twig:Icon name="person-rolodex" />{{ 'admin.candidate.create.title'|trans }}</h1>
        </twig:Row>
        <twig:FormStart form="{{ form_candidate }}"/>
        <twig:FormRow field="{{ form_candidate.name }}" />
        <twig:FormRow field="{{ form_candidate.email }}" />
        <twig:FormRow field="{{ form_candidate.roles }}" toggle="true" />
        <twig:ButtonsRow rowClass="pt-3" icon="plus-circle" field="{{ form_candidate.submit }}" />
        {{ form_end(form_candidate) }}
        <twig:Row rowClass="mt-5" label="admin.candidate.list.title">
            {{ include('admin/user/_candidate_list.html.twig') }}
        </twig:Row>
    </twig:Box>
{% endblock %}