<twig:Box>
    <form
            {{ stimulus_controller('submitform') }}
            method="post"
            action="{{ path('app_grid_col_filter') }}"
    >
        {% if columns_filter is defined %}
            <twig:Row rowClass="mb-3" label="{{ 'grid.col.finder.title'|trans }}" labelId="columns_filter">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                    <textarea
                            {{ stimulus_action('submitform', 'submit', 'keydown.ctrl+enter') }}
                            id="columns_filter"
                            name="columns_filter"
                            class="form-control app-textarea-small"
                            placeholder="{{ 'grid.col.finder.placeholder'|trans }}"
                    >
                        {{- columns_filter -}}
                    </textarea>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary" type="submit" name="go">
                            <span class="bi-search pe-2"></span>{{ 'grid.col.finder.submitbutton'|trans }}
                        </button>
                        <button class="btn btn-primary" type="submit" name="nofilter">
                            <twig:Icon name="ban" label="grid.col.finder.nofilter_button" title/>
                        </button>
                        <twig:ModalButton icon="question-circle-fill" id="col_filter_manual"/>
                    </div>
                </div>
            </twig:Row>
            <twig:ModalContainer id="col_filter_manual" title="grid.col.finder.manual.title" close="{{ 'modal.close'|trans }}">
                {{ 'grid.col.finder.manual.text' }}
            </twig:ModalContainer>
        {% endif %}
        <twig:Row label="{{ 'grid.setting.list.title'|trans({scope:selected_scope.name}) }}">
            {{ include('grid/setting/_setting_list.html.twig') }}
        </twig:Row>
    </form>
</twig:Box>
