{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} :: {{ 'grid.setting.create.title'|trans({'scope': selected_scope.name}) }}{% endblock %}
{% block topsubnav %}{{ include('grid/_gridnav.html.twig') }}{% endblock %}
{% block body %}
    {% if columns %}
        <twig:Box>
            <twig:Row rowClass="mb-4">
                <h1 class="h3">
                    <twig:Icon
                            name="grid-3x3-gap,gear-fill"/>{{ 'grid.setting.create.title'|trans({'scope': selected_scope.name}) }}
                </h1>
            </twig:Row>
            <twig:FormStart form="{{ form_setting }}"/>
            <twig:FormRow rowClass="mb-5" field="{{ form_setting.columns }}" toggle/>
            <twig:FormRow field="{{ form_setting.type }}" toggle translate/>
            <twig:FormRow field="{{ form_setting.parameter }}"/>
            <twig:FormRow field="{{ form_setting.override_param }}"/>
            <twig:ButtonsRow
                    rowClass="pt-3"
                    icon="plus-circle"
                    field="{{ form_setting.submit }}"
                    label="{{ "grid.setting.create.submitbutton"|trans }}"
                    modalId="settings_import_export"
                    modalIcon="database-fill-up"
                    modalLabel="{{ 'grid.setting.import_export.button.import_export'|trans }}"
            />
            {{ form_end(form_setting) }}
            <twig:ModalContainer id="settings_import_export" title="{{ "grid.setting.import_export.title"|trans }}">
                {{ include('grid/setting/_setting_import.html.twig') }}
            </twig:ModalContainer>
        </twig:Box>
    {% endif %}
    {{ include('grid/setting/_setting_list_action_box.html.twig') }}
{% endblock %}
