{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} :: {{ 'contact.title'|trans }}{% endblock %}
{% block body %}
    <twig:Primarybox>
        <twig:Row rowClass="mb-4">
            <h1 class="h3"><twig:Icon name="chat-heart-fill" />{{ 'contact.title'|trans }}</h1>
            <p>
                {{ 'contact.subtitle'|trans }}
            </p>
        </twig:Row>
        <twig:FormStart form="{{ form_contact }}"/>
        <twig:FormRow field="{{ form_contact.about }}" toggle="true" />
        <twig:FormRow field="{{ form_contact.message }}" />
        <twig:FormRow field="{{ form_contact.contactEmail }}" />
        <twig:Row>
            <div class="app-less-important">{{ 'contact.privacy_hint'|trans|raw }}</div>
        </twig:Row>
        <twig:FormRow rowClass="mt-2" field="{{ form_contact.sendcopy }}" />
        <twig:ButtonsRow rowClass="pt-3" icon="chat-heart-fill" field="{{ form_contact.submit }}" />
        {{ form_end(form_contact) }}
    </twig:Primarybox>
{% endblock %}