{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} :: {{ 'grid.col.create.title'|trans }}{% endblock %}
{% block topsubnav %}{{ include('grid/_gridnav.html.twig') }}{% endblock %}
{% block body %}
    <twig:Box>
        <twig:Row rowClass="mb-4">
            <h1 class="h3">
                <twig:Icon name="grid-3x3-gap,bookmarks-fill" label="{{ 'grid.col.create.title'|trans }}" />
            </h1>
        </twig:Row>
        <twig:FormStart form="{{ form_cols }}"/>
        <twig:FormRow field="{{ form_cols.names }}"/>
        <twig:Row>{{ 'grid.col.scopes_manual'|trans }}</twig:Row>
        <twig:FormRow field="{{ form_cols.scopes }}" toggle />
        <twig:ButtonsRow
                rowClass="pt-3"
                icon="plus-circle"
                field="{{ form_cols.submit }}"
        />
        {{ form_end(form_cols) }}
    </twig:Box>
    <twig:Box>
        <twig:Row label="grid.col.list.title">
            {{ include('grid/col/_col_list.html.twig') }}
        </twig:Row>
    </twig:Box>
{% endblock %}
