{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} :: {{ 'grid.finder.title'|trans }}{% endblock %}
{% block topsubnav %}{{ include('grid/_gridnav.html.twig') }}{% endblock %}
{% block body %}
    <twig:Box>
        <twig:Row rowClass="mb-4">
            <h1 class="h3"><twig:Icon name="grid-3x3-gap,search" />{{ 'grid.finder.title'|trans }}</h1>
        </twig:Row>
        {{ include('grid/finder/_finder_list_action_box.html.twig') }}
        <twig:Row rowClass="mb-4" label="{{ 'grid.finder.label.found_tables' }}">
            {{ include('grid/finder/_finder_list_tables.html.twig') }}
        </twig:Row>
        <twig:Row rowClass="mb-4" label="{{ 'grid.finder.label.found_cells' }}">
            {{ include('grid/finder/_finder_list_cells.html.twig') }}
        </twig:Row>
    </twig:Box>

{% endblock %}
