{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} :: {{ 'planner.all_entries.title'|trans }}{% endblock %}
{% block body %}
    <twig:Box>
        {% set start_min = 18 %}
        {% set start_max = 0 %}
        {% set hours_max = 0 %}
        {% for entry in existing_entries %}
            {% if entry.startHour>start_max %}
                {% set start_max = entry.startHour %}
            {% endif %}
            {% if entry.startHour<start_min and entry.startHour is not null %}
                {% set start_min = entry.startHour %}
            {% endif %}
            {% if entry.workHours > hours_max %}
                {% set hours_max = entry.workHours %}
            {% endif %}
        {% endfor %}
        <div class="app-bg-box py-2">
            <div class="row">
                <div class="col">
                    <h2><span class="bi-calendar2-range pe-2"></span>{{ 'planner.all_entries.title'|trans }}</h2>
                </div>
                <div class="col text-end">
                    <a href="{{ path('app_planner_my_entries') }}" class="btn btn-primary">
                        <twig:Icon name="calendar3" label="{{ 'planner.my_entries.title'|trans }}"/>
                    </a>
                </div>
            </div>

        </div>

        <twig:Table headers="{{ [
            '',
            'planner.label.date',
            'planner.label.name',
            'planner.label.type',
            'planner.label.start',
            'planner.label.hours',
        ] }}" small="true">
            {% import 'planner/planner_utilities.twig' as utilities %}

            {% set day_displayed = '' %}
            {% for entry in existing_entries %}
                <tr>
                    <td>
                        {% if is_granted('ROLE_USERMANAGER') %}
                            <twig:PostButton
                                    path="app_admin_planner_away_toggle"
                                    id="{{ entry.id }}"
                                    icon="building-x"
                                    title="planner.label.option.superaway"
                            />
                        {% endif %}
                    </td>
                    <td>
                        <div class="{{ entry.day|date('Ymd') == day_displayed ? 'd-none' : '' }}">
                            {{ entry.day|date('D, d.m.y') }}
                        </div>
                    </td>
                    <td>
                        {{ entry.user.name }}
                    </td>
                    <td>
                        {{ utilities.type(entry) }}
                    </td>
                    <td>
                        {{ utilities.start(entry.away, entry.startHour, start_min, start_max) }}
                    </td>
                    <td>
                        {{ utilities.hours_bar(entry.away, entry.workHours, hours_max) }}
                    </td>
                </tr>
                {% set day_displayed = entry.day|date('Ymd') %}
            {% endfor %}
        </twig:Table>
    </twig:Box>
{% endblock %}
