{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} :: {{ 'planner.entries.title'|trans }}{% endblock %}
{% block body %}
    <twig:Box>
        <form name="createWorkdays" method="POST" action="{{ path('app_planner_edit') }}">

            <div class="sticky-top app-bg-box py-2">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <h2><span class="bi-calendar3 pe-2"></span>{{ 'planner.entries.title'|trans }}</h2>
                    </div>
                    <div class="col-12 col-lg-6 text-end">
                        <button type="submit" class="btn btn-primary">
                            <span class="bi-floppy-fill pe-2"></span>{{ 'save'|trans }}
                        </button>
                    </div>
                </div>

            </div>

            <twig:Table headers="{{ [
                'planner.label.day',
                'planner.label.options',
                'planner.label.start',
                'planner.label.hours',
            ] }}">
                {% import 'planner/planner_form.twig' as planner_form %}

                {% for day in calendar_days %}

                    {% set day_ymd = day|date('Y-m-d') %}
                    {% set weekdaynumber = day|date('N') %}
                    {% if existing_entries[day_ymd] is defined %}
                        {% set start_hour = existingEntries[day_ymd].startHour|default(-1) %}
                        {% set work_hours = existingEntries[day_ymd].workHours|default(0) %}
                        {% set option = existingEntries[day_ymd].isAway
                            ? 'away'
                            : (existingEntries[day_ymd].isHomeoffice ? 'home' : 'office')
                        %}
                    {% else %}
                        {% set start_hour = -1 %}
                        {% set work_hours = 0 %}
                        {% set option = 'none' %}
                    {% endif %}
                    <tr>
                        <td class="text-end">
                            <input type="hidden" name="day[{{ loop.index }}]" value="{{ day_ymd }}">
                            {{ day|date('D, d.m.Y') }}
                        </td>
                        <td>
                            {{ planner_form.radio(loop.index, 1, 'none', option, "", 'ban')}}
                            {{ planner_form.radio(loop.index, 2, 'away', option, "away")}}
                            {{ planner_form.radio(loop.index, 3, 'office', option, "office")}}
                            {{ planner_form.radio(loop.index, 4, 'home', option, "home")}}
                        </td>
                        <td>
                            {{ planner_form.range(loop.index, 'startHour', start_hour, 'planner.label.start', -1, 23) }}
                        </td>
                        <td>
                            {{ planner_form.range(loop.index, 'workHours', work_hours, 'planner.label.hours', 0, 24) }}
                        </td>
                    </tr>
                {% endfor %}
            </twig:Table>
        </form>
    </twig:Box>
{% endblock %}
