
{% macro radio(row_index, option_index, value, current_value, label = "", icon = "") %}
    <input
            type="radio"
            class="btn-check"
            name="entry[{{ row_index }}][option]"
            value="{{ value }}"
            id="option{{ option_index }}_{{ row_index }}"
            autocomplete="off"
            {% if value == current_value %}
                checked
            {% endif %}
    >
    <label class="btn btn-outline-info" for="option{{ option_index }}_{{ row_index }}">
        {% if label == "" %}
            <span class="bi-{{ icon }}"></span>
        {% else %}
            {{ label|trans }}
        {% endif %}
    </label>
{% endmacro %}
{% macro range(row_index, name, value, min, max, nullLabel="", class="btn btn-outline-info btn-narrow") %}

    {% if nullLabel != "" %}
        <input
                type="radio"
                class="btn-check"
                name="entry[{{ row_index }}][{{ name }}]"
                value=""
                id="{{ name }}_{{ row_index }}_null"
                autocomplete="off"
                {% if value is null %}
                    checked
                {% endif %}
        >
        <label class="{{ class }}" for="{{ name }}_{{ row_index }}_null">{{ nullLabel }}</label>
    {% endif %}
    {% for i in range(min, max) %}
        <input
                type="radio"
                class="btn-check"
                name="entry[{{ row_index }}][{{ name }}]"
                value="{{ i }}"
                id="{{ name }}_{{ row_index }}_{{ i }}"
                autocomplete="off"
                {% if i == value %}
                    checked
                {% endif %}
        >
        <label class="{{ class }}" for="{{ name }}_{{ row_index }}_{{ i }}">
            {{ i }}
        </label>
    {% endfor %}
{% endmacro %}