{% for mapped_row in mapped_rows %}
    <div
            class="row {% if row_selected|default() and row_selected.id == mapped_row.row.id %}app-item-active{% endif %}"
    >
        <div class="col-sm-1">
            <a href="{{ path('app_grid_table_update', {'id': mapped_row.row.id}) }}" class="btn btn-primary">
                <span class="bi-pencil"></span>
            </a>
        </div>
        <div class="col-sm-11">
            <twig:AccordionSingle flush
                    id="rowcontent_{{ mapped_row.row.id }}"
                    button="{{ 'grid.row.linenumber'|trans({number: mapped_row.row.lineNumber}, 'messages') }}"
            >
                {% for col_name,value in mapped_row.cells %}
                    <div class="container">
                        <div class="row {{ loop.index % 2 == 0 ? 'app-bg-stripe-1' : '' }}">
                            <div class="col-12 col-lg-2 text-start text-lg-end label">
                                {{ col_name }}
                            </div>
                            <div class="col-12 col-lg-10 app-readable-width">{{ value }}</div>
                        </div>
                    </div>
                {% endfor %}
            </twig:AccordionSingle>
        </div>
    </div>
{% endfor %}
