{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} :: {{ 'grid.pool.create.title'|trans }}{% endblock %}
{% block topsubnav %}{{ include('grid/_gridnav.html.twig') }}{% endblock %}
{% block body %}
    <twig:Box>
        <twig:Row rowClass="mb-4">
            <h1 class="h3"><twig:Icon name="grid-3x3-gap-fill" />{{ 'grid.pool.create.title'|trans }}</h1>
        </twig:Row>
        <twig:FormStart form="{{ form_pool }}"/>
        <twig:FormRow field="{{ form_pool.name }}"/>
        <twig:FormRow field="{{ form_pool.scope }}" toggle />
        <twig:ButtonsRow
                rowClass="pt-3"
                icon="plus-circle"
                field="{{ form_pool.submit }}"
        />
        {{ form_end(form_pool) }}
    </twig:Box>
    <twig:Box>
        <twig:Row label="grid.pool.list.title">
            {{ include('grid/_pool_list.html.twig') }}
        </twig:Row>
    </twig:Box>
{% endblock %}
