{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} :: {{ 'grid.scope.update.title'|trans }}{% endblock %}
{% block topsubnav %}{{ include('grid/_gridnav.html.twig') }}{% endblock %}
{% block body %}
    <twig:Box>
        <twig:Row rowClass="mb-4">
            <h1 class="h3"><twig:Icon name="grid-3x3-gap" />{{ 'grid.scope.update.title'|trans }}</h1>
        </twig:Row>
        <twig:FormStart form="{{ form_scope }}"/>
        <twig:FormRow field="{{ form_scope.name }}" />
        <twig:FormRow field="{{ form_scope.scopeKey }}" />
        <twig:FormRow field="{{ form_scope.description }}" />
        <twig:ButtonsRow
                rowClass="pt-3"
                icon="pencil"
                field="{{ form_scope.submit }}"
                label="grid.scope.update.submitbutton"
                cancelPath="app_grid_scope_create"
                modalId="scope_delete"
                modalIcon="eraser-fill"
                modalLabel="{{ 'modal.delete.button'|trans }}"
        />
        {{ form_end(form_scope) }}
        <twig:ModalDeleteFormContainer
                id="scope_delete"
                title="{{ 'grid.scope.delete.title' }}"
                path="app_grid_scope_delete"
                deleteId="{{ scope_selected.id }}"
        >
            {{ 'grid.scope.delete.confirm_text'|trans({'%name%': scope_selected.name}, 'messages')|raw }}
        </twig:ModalDeleteFormContainer>
    </twig:Box>
    <twig:Box>
        <twig:Row label="grid.scope.list.title">
            {{ include('grid/_scope_list.html.twig') }}
        </twig:Row>
    </twig:Box>
{% endblock %}