<twig:Table headers="{{ [
    '',
    'grid.file.label.name',
    'grid.file.label.type',
    'grid.file.label.size',
    'grid.file.label.width',
    'grid.file.label.height',
] }}" small>
    {% import 'grid/file/file_tableform.twig' as tableform %}
    {% for file in files %}
        <tr>
            <td>{{ tableform.select_checkbox(file.id) }}</td>
            <td>{{ tableform.name_input(file.id, file.originalName) }}</td>
            <td>{{ file.type }}</td>
            <td>{{ file.filesize }}</td>
            <td>{{ file.width }}</td>
            <td>{{ file.height }}</td>
        </tr>
    {% endfor %}
</twig:Table>
