{% set contentWidth = 12-labelWidth %}
{{ form_start(form,  { 'attr': stimulus_controller('submitform').toArray() }) }}
{% dump(form) %}
{% if form.vars.errors is not empty %}
    <div class="row {{ rowClass }}">
        <div class="col-12 col-{{ gridThreshold }}-{{ labelWidth }} text-start text-lg-end">
            {{ 'form.label.error'|trans }}
        </div>
        <div class="col-12 col-{{ gridThreshold }}-{{ contentWidth }} app-readable-width">
            {{ form_errors(form) }}
        </div>
    </div>
{% endif %}