{% set contentWidth = 12-labelWidth %}
<div class="row {{ rowClass }}">
    <div class="col-12 col-{{ gridThreshold }}-{{ labelWidth }} text-start text-lg-end">
        {% set label = field.vars.label|trans %}
        {% if 'choice' in field.vars.block_prefixes %}
            <legend class="label">{{ label }}</legend>
        {% else %}
            <label for="{{ field.vars.id }}" class="label">{{ label }}</label>
        {% endif %}
    </div>
    <div class="col-12 col-{{ gridThreshold }}-{{ contentWidth }} app-readable-width">
        {% if toggle and ('choice' in field.vars.block_prefixes) %}

            {% set type = field.vars.multiple == true ? 'checkbox' : 'radio' %}

            <div id="{{ field.vars.id }}">
                {% for choice in field %}
                    <input
                            type="{{ type }}"
                            id="{{ choice.vars.id }}"
                            name="{{ choice.vars.full_name }}"
                            class="btn-check" value="{{ choice.vars.value }}"
                            {% if (field.vars.multiple and choice.vars.value in field.vars.value) or (not field.vars.multiple and field.vars.value == choice.vars.value) %}
                                checked="checked"
                            {% endif %}
                    >
                    <label class="btn btn-outline-info" for="{{ choice.vars.id }}">{{ choice.vars.label|trans }}</label>
                {% endfor %}
            </div>

            {% do field.setRendered() %}

        {% else %}
            {% if 'text' in field.vars.block_prefixes %}
                {% if 'textarea' in field.vars.block_prefixes %}
                    {{ form_widget(field, {
                        'attr': stimulus_action('submitform', 'submit', 'keydown.ctrl+enter').toArray() |
                        merge( stimulus_controller('textarea_autosize').toArray() )
                    }) }}
                {% else %}
                    {{ form_widget(field, {'attr': stimulus_action('submitform', 'submit', 'keydown.ctrl+enter').toArray()}) }}
                {% endif %}
            {% else %}
                {{ form_widget(field) }}
            {% endif %}
        {% endif %}
    </div>
</div>
