{% if ',' in name %}
    {% set names = name|split(',') %}
    {% set name =  names[0] %}
    {% set name2 = names[1] %}
{% else %}
    {% set name2 = '' %}
{% endif %}
{% set spacerClass = (label == '' or title == true ? '' : ' pe-2') %}
{% set titletext = label %}
{% if name2 != '' %}
    {% if inline %}
        <div class="d-inline-block position-relative{{ spacerClass }}" title="{{ titletext }}">
            <span class="bi-{{ name }} opacity-75"></span>
            <span class="bi-{{ name2 }} position-absolute" style="font-size:14px; right:{{ spacerClass == '' ? '-5px' : '5px' }}; bottom:-2px"></span>
        </div>
    {% else %}
        <div class="d-inline-block position-relative{{ spacerClass }}" title="{{ titletext }}">
            <span class="bi-{{ name }} opacity-75"></span>
            <span class="bi-{{ name2 }} fs-6 position-absolute bottom-0 end-0"></span>
        </div>
    {% endif %}
{% else %}
    <span class="bi-{{ name }}{{ spacerClass }}" title="{{ titletext }}"></span>
{% endif %}
{% if title != true %}
    {{- label -}}
{% endif %}
