<button
        type="button"
        class="btn btn-{{ type|default('primary') }}"
        data-bs-toggle="modal"
        data-bs-target="#modal{{ id }}"
>
    {% if label is defined %}
        {% if icon != '' %}
            <span class="bi-{{ icon }} pe-2"></span>
        {% endif %}
        {{ label }}
    {% else %}
        <span class="bi-{{ icon }}"></span>
    {% endif %}
    <span class="bi-menu-up ps-2 {{ (type|default('primary') == 'danger') ? 'text-light' : 'text-dark' }}"></span>
</button>