{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} :: {{ 'grid.table.create.title'|trans }}{% endblock %}
{% block topsubnav %}{{ include('grid/_gridnav.html.twig') }}{% endblock %}
{% block body %}
    <twig:Box>
        <twig:Row rowClass="mb-4">
            <h1 class="h3"><twig:Icon name="grid-3x3-gap-fill" />{{ 'grid.table.create.title'|trans }}</h1>
        </twig:Row>
        <twig:FormStart form="{{ form_table }}"/>
        <twig:FormRow field="{{ form_table.name }}"/>
        <twig:FormRow field="{{ form_table.scope }}" toggle />
        <twig:FormRow field="{{ form_table.status }}" toggle translate />
        <twig:FormRow field="{{ form_table.category }}"/>
        <twig:FormRow field="{{ form_table.numberOfSources }}"/>
        <twig:FormRow field="{{ form_table.additionalExpense }}"/>
        <twig:FormRow field="{{ form_table.notes }}"/>
        <twig:ButtonsRow
                rowClass="pt-3"
                icon="plus-circle"
                field="{{ form_table.submit }}"
        />
        {{ form_end(form_table) }}
    </twig:Box>
    <twig:Box>
        <twig:Row label="grid.table.list.title">
            {{ include('grid/table/_table_list.html.twig') }}
        </twig:Row>
    </twig:Box>
{% endblock %}
